
.dropdown--flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.dropdown--description p{
    margin: 15px;
    font-size: 18px;
    font-weight: 400;
}
.dropUpIcon{
    width: 15px;
    height: 15px;
}
.dropDownIcon{
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 500px){
    .dropdown--description p{
        font-size: 16px;
    }
}