
.dropdown--flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
.dropdown--description{
    height: 150px;
}
.dropdown--description p{
    margin: 15px;
    font-size: 18px;
}
.dropUpIcon{
    width: 15px;
    height: 15px;
}
.dropDownIcon{
    width: 25px;
    height: 25px;
}