.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: auto;
    margin-bottom: 40px;
}
@media screen and (max-width: 500px){
    .header-flex img{
        width: 145px;
        height: 47px;
    }
    
}