.nav-style a{
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    width: 116px;
    height: 34px;
    text-decoration: none;
    font-family: "Montserrat";
}
.nav-style a :visited{
    text-decoration: underline;
    color:black;
}

.nav-flex{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    list-style: none;
}
@media screen and (max-width:500px){
    .nav-style a{
        font-size: 16px;
    }
}