@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
    /* src: url(../font/Montserrat-Bold.ttf); */
    
}
.nav-style{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    width: 116px;
    height: 34px;
}
.nav-flex{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    list-style: none;
}