.tags{
    background-color: #ff6060;
    color: white;
    width:130px;
    padding: 5px;
    height:  25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
}
@media screen and (max-width: 500px){
    .tags{
        width: 84px;
        height: 18px;
        font-size: 10px;
    }
}